* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
.display {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.display-input {
	border: 3px solid black;
	font-size: 3rem;

	overflow-y: auto;
}
.btn {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	padding: 60px;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
